{% extends "base.html" %}
{% block content %}
<section class="internships-section">
  <h2>Internships</h2>
  <ul>
    <li>
        <b>Python Fullstack Developer</b> (Jul–Sep 2025):<br>
        Gained end-to-end experience in full-stack development, building scalable web applications using Python (Django/Flask), relational databases, and modern 
front-end technologies.   
    </li>
    <li>
        <b>Data Analysis Using Python</b> (Apr–Jun 2025):<br>
        Completed a virtual internship in Data Analysis using Python as part of the Summer Online Internship Program - 2025. Gained practical skills in data analysis 
through a program conducted by the Andhra Pradesh State Skill Development Corporation (APSSDC). 
    </li>
    <li><b>AWS Data Engineering Virtual Internship</b> (Apr–Jun 2025):<br>
        Learned key data engineering concepts using AWS tools like S3, Glue, Redshift, and Athena. Practiced building data pipelines, transforming data, and analyzing datasets on the AWS cloud platform.
    </li>
  </ul>
</section>
{% endblock %}

