{% extends "base.html" %}
{% block content %}
<section class="projects-section">
  <h2>Projects</h2>
  <ul>
    <li>
      <b>Traffic Accident Patterns Analysis</b> (Python, Pandas, Matplotlib, Seaborn):<br>
      Performed exploratory data analysis on a real-world traffic accident dataset to identify high-risk locations, time-based patterns, and contributing factors such as weather, 
road conditions, and accident causes. Applied data cleaning, transformation, grouping, filtering, and aggregation techniques to extract meaningful insights. Developed 
visualizations (bar charts, scatter plots, heatmaps) to communicate findings and support data-driven recommendations for improving road safety..
    </li>
    <li>
      <b>GitHub Portfolio</b> (HTML, CSS, JavaScript):<br>
      A fully responsive personal portfolio website designed to showcase my education, technical skills, internships, and projects..
    </li>
  </ul>
</section>
{% endblock %}
